@use "global" as *;
.business{
  position: relative;
}

.business__inner{
display: flex;
flex-direction: column;
@include mq(md) {
  flex-direction: initial;
}
}

.business__left{
  @include mq(md) {
    width: 100%;
  }
}
.business__left-title{
  color: #393C53;
  font-size: rem(24);
}
.business__left-text{
  color: #393C53;
  font-size: rem(16);
  margin-top: rem(24);
}
.business__left img{
  margin-top: rem(32);
  @include mq(md) {

  }
}

.business__right img{
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(80);
    margin-left: rem(40);
  }
}
