@use "global" as *;

.header {
  position: fixed;
  background-color: #3333335b;
  height: rem(80);
  display: flex;

  justify-content: space-between;
  width: 100vw;
  z-index: 15;
}

.header__inner {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  padding-left: rem(24);
  padding-right: rem(24);
  justify-content: space-between;
}


.header__item span {
  display: block;
  width: rem(32);
  height: rem(1);
  color: white;
  gap: 0 rem(5);
}