@use "global" as *;

.main {
  position: relative;
  height: 100%;
  background: linear-gradient(150deg, rgb(49, 132, 248), white, white)
}

.main__title {
  font-size: rem(14);
  font-family: "Josefin Sans", serif;
  color: #393C53;
  @include mq(md) {
    font-family: "Josefin Sans", serif;
    font-size: rem(16);
    font-weight: $bold;
    text-shadow: 2px 2px 2px white;
  }
}

.main__subtitle {
  margin-top: rem(16);
  font-size: rem(24);
  color: #393C53;
  @include mq(md) {
    margin-top: rem(32);
    font-size: rem(32);
    font-weight: $bold;
    text-shadow: 1px 1px 2px white;
  }
}

.main__text {
  margin-top: rem(16);
  font-size: rem(14);
  color: #393C53;
  @include mq(md) {
    margin-top: rem(32);
    font-size: rem(16);

    text-shadow: 2px 2px 2px white;
  }
}
