@use "global" as *;
.nav-pc__items {
  display: flex;
  gap: rem(16);
  text-align: center;
  align-items: center;
}
.nav-pc__items :hover{
opacity: 0.6;
transition: 0.5ms;
}

.nav-pc__item-title {
  color: white;
  font-family: "Josefin Sans", serif;
  font-weight: $bold;
  font-size: rem(16);
  text-shadow: 1px 1px #3333335b;
}

.nav-pc__item-subtitle {
  color: white;
  font-weight: $bold;
  font-size: rem(12);
  text-shadow: 1px 1px #3333335b;
}